@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&display=swap');

:root {
  --text-primary: #293264;
  --text-secondary: #F5F7FB;
  --btn-primary: #4D5B9E;
  --background-primary: #4D5B9E;
  --btn-correct: #94D7A2;
  --btn-correct-not-chosen: #94D7A2;
  --btn-incorrect: #F8BCBC;
  --btn-selected: #D6DBF5;
  --font-weight-primary: 700; 
  --font-weight-secondary: 500;
  background-color: var(--background-secondary);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-primary);
  color: var(--text-primary);
  max-width: 44ch;
  margin-bottom: 1em;
}

button, p {
  font-weight: var(--font-weight-secondary);
}

hr {
  margin: 1em 0em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-left {
  text-align: left;
}

.container {
  margin-top: 5em;
  font-size: x-large;
}

.container p {
  margin: 20px;
}

.questions-container {
  margin-top: 10em;
}

.answers-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.start-btn {
  margin: 10px;
  padding: 1.5em 5em;
  border-radius: 25px;
  padding: 1em 2em;
  font-size: large;
}

.btn {
  background-color: var(--btn-primary);
  color: var(--text-secondary);
  border-radius: 10px;
  border: none;
  padding: 1em 2em;
  margin: 2em;
  font-size: large;
}

button:hover {
  cursor: pointer;
}

.answer {
  padding: 1em 2em;
  border-radius: 20px;
  background-color: var(--background-secondary);
  border: solid 1px var(--btn-primary);
  transition: all 0.3s;
}

.answer:hover {
  background-color: var(--btn-selected);
  transition: all 0.3s;
}

.answer-select {
  background-color: var(--btn-selected);
}

.answer-correct {
  background-color: var(--btn-correct) !important;
}

.answer-correct-not-chosen {
  background-color: var(--btn-correct-not-chosen) !important;
}

.answer-incorrect {
  background-color: var(--btn-incorrect) !important;
  color:rgba(77, 91, 158, 0.753) !important;
}

.top-right-blob {
  position: fixed;
  top: 0;
  right: 0;
}

.bottom-left-blob {
  position: fixed;
  bottom: 0;
  left: 0;
}